/* General Changes */

body {
  background-color: #202020;
  color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 20px;
}

hr {
  margin-left: 25%;
  width: 50%;
  border-style: none;
  border-width: 10px;
  border-top-style: dotted;
  border-color: #F9F9F9;
}

table {
  margin-left: 30%;
}

td {
  padding-right: 1.5rem;
}

/* Navbar Changes */

.nav-item {
  padding: 0 18px;
}

.nav-item {
  text-align: right;
}
/* .navbar-custom {
  background-color: #202020;
} */

.navbar-custom .navbar-nav .nav-link {
  color: #F9F9F9;
}


/* Personal Header Changes */

.personal-bio {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.short-desc {
  padding-left: 15%;
  padding-right: 15%;
}

.profile-pic {
  width: 25%;
}

.short-intro {
  padding: 20px 0 20px;
}

/* Project Changes */

.personal-projects-desc {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
}

/* Skills Section  */

.skill-div {
  padding-bottom: 50px;
}

.fa-star {
  color: #F9F9F9;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.tech-skill {
  width: 10rem;
}


/* Media Tags */

@media (max-width: 1080px) {
  .profile-pic {
    width: 35%;
  }
}
